<section class="bg-white  dark:bg-gray-900">
  <%= if @current_user do %>
    <%!-- phaser div  --%>
    <div id="config" class=" centered">
      <div id="game"></div>
    </div>
  <% else %>
    <div class=" centered">
      <div id="demo"></div>
    </div>
  <% end %>
</section>
