<section class="bg-white  dark:bg-gray-900">


<%= if @current_user do %>
<%!-- phaser div  --%>
<div id="config" class="  centered">
  <div id="game"  ></div>
</div>
  
  <% else %>
  <div class="container mx-auto px-4 py-12">
   <p class="text-center text-2xl font-bold text-gray-800 dark:text-gray-100">Please sign in to play the game</p>
  </div>
  <% end %>



</section>


